

<div style="text-align:center">
    <h1>Welcome to Webjet Movie Site!</h1>
</div>

<div style="text-align:center">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Movies</a>
        <a routerLink="/movies/id" routerLinkActive="active">Movie Details</a>
    </nav>
</div>

<div style="text-align:center">
    <!--<input type="text" my-on-key-down-call="callRestService()">-->
    <!--<movie></movie>-->
    <!--<app-home></app-home>-->
    <router-outlet></router-outlet>
</div>

