@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 5em;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
}

.movie-detail {
    display: inline-block;
    font-size: 16px;
    color: darkslateblue;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    left: -2px;
    margin-right: .8em;
}

button {
    font-family: Arial;
    background-color: aqua;
    color:royalblue;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #cfd8dc;
    }

    button:disabled {
        background-color: #eee;
        color: #aaa;
        cursor: auto;
    }

table {
    margin-top: 50px;
    border-collapse: collapse;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 3px solid black;
}

table.fixed {
    table-layout: auto;
    width: 400px;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

    nav a:visited, a:link {
        color: #607D8B;
    }

    nav a:hover {
        color: #039be5;
        background-color: #CFD8DC;
    }

    nav a.active {
        color: #039be5;
    }


/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
