<div style="align-content:center">
    <table class="fixed" *ngIf="movies">
        <tr *ngFor="let movie of movies | paginate: { itemsPerPage: pagesize, currentPage: p }">
            <td>
                <img width="70" src="{{movie.poster}}" />
                <br />
                <span class="movie-detail">{{movie.title}}</span>
                <br />
                <span class="movie-detail">{{movie.year}} </span>
            </td>
            <td><button (click)="onClickMovie(movie)">View Movie Price and other Details</button></td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!--<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->

</div>



